{% extends "stocks/base.html" %}

{% block rows %}
    <ol class="breadcrumb">
        <li><a href="{% url 'stocks' %}">Stocks</a></li>
        <li class="active">Category</li>
    </ol>

    <p>
        <a href="{% url 'stocks_category_new' %}" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span> New
        </a>
    </p>

    <div class=" table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td><a href="{% url 'stocks_category_edit' object.id %}">{{ object.code }}</a></td>
                        <td>{{ object.name }}</td>
                        <td>{{ object.get_type_display }}</td>
                        <td><a href="{% url 'stocks_category_delete' object.id %}"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <p>Total {{ object_list|length }} records</p>
{% endblock %}
