{% extends "stocks/base.html" %}

{% block rows %}
    <ol class="breadcrumb">
        <li><a href="{% url 'stocks' %}">Stocks</a></li>
        <li class="active">Masters</li>
    </ol>

    <p>
        <a href="{% url 'stocks_master_new' %}" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span> New
        </a>
    </p>

    <div class=" table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for master in object_list %}
                    <tr>
                        <td><a href="{% url 'stocks_master_detail' master.id %}">{{ master.code }}</a></td>
                        <td>{{ master.name }}</td>
                        <td>{{ master.category }}</td>
                        <td>
                            <a href="{% url 'stocks_master_delete' master.id %}"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <p>Total {{ object_list|length }} records</p>
{% endblock %}
