{% extends 'bootstrap/base.html' %}

{% block project_title %}AtomBiz{% endblock %}


{% block project_navbar_brand_url %}
  {% if user.is_authenticated %}
    /users/dashboard/
  {% else %}
    /
  {% endif %}
{% endblock %}

{% block project_navbar_brand %}AtomBiz{% endblock %}

{% block project_navbar_collapse %}
  {% if user.is_authenticated %}
    <ul class="nav navbar-nav">
      <li><a href="/users/logout/">Logout</a></li>
    </ul>
  {% endif %}
{% endblock %}

{% block project_rows %}
  {% block app_rows %}
  {% endblock %}
{% endblock %}

{% block project_footer_content %}
  <p>&copy; Johan Sim Jian An 2013</p>
{% endblock %}
