{% extends "accounts/base.html" %}

{% block rows %}
    <ol class="breadcrumb">
        <li class="active">
            Accounts
        </li>
    </ol>

    <div class="page-header">
        <h1>Accounts</h1>
    </div>

    <p>This is where you will find all the accounts related operations.</p>

    <h2><a href="/accounts/sections/">Section</a></h2>
    <p>Base account sections.</p>

    <h2><a href="/accounts/groups/">Group</a></h2>
    <p>Each group belong to a section.</p>

    <h2><a href="/accounts/masters/">Masters</a></h2>
    <p>This is basically the chart of accounts. Each master belong to a group.</p>
{% endblock %}
